@{
    ViewData["Title"] = "Bize Ulaşın";
    Layout = "_Layout";
}
<h2>Bize Ulaşın</h2>
<form>
  <div class="mb-3">
    <label class="form-label">İsim</label>
    <input class="form-control" />
  </div>
  <div class="mb-3">
    <label class="form-label">Mesaj</label>
    <textarea class="form-control"></textarea>
  </div>
  <button class="btn btn-primary">Gönder</button>
</form>
